/* --SPECIFICATION-- */

body {

	font-family: 'Raleway', sans-serif;

	font-family: 'Montserrat', sans-serif;
}

.content {
	width: 70%;
	margin: 0 auto;
}


/* ----HEADER---- 


--LOGO and MENU-- */

.header {
	z-index: 2;
	position: absolute;
	top: 0;
	width: 100%;
}

.header_logo_navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
}

.navigation {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
}

.navigation ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

.navigation_menu__item {
	text-decoration: none;
  	color: #fff;
}

.navigation_menu__item:hover,
.navigation_icons__item a i:hover,
.navigation_icons__item_1 a i:hover {
  	color: #c7b299;
}

.navigation_icons__item a,
.navigation_icons__item_1 a {
	text-decoration: none;
  	color: #fff;
}

.navigation_icons__item_1 {
	padding-left: 20px;
	padding-right: 5px;
}

/* ----SWIPER---- */

.swiper-container {
	width: 100%;
	height: 100vh;
}
.swiper-slide {
	background-position: center;
	background-size: cover;
}

.position {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.swiper-button-next,
.swiper-button-prev {
	width: 20%;
}


/* --MAIN TEXT and BUTTON-- */

.slide-image-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
    width: 100%;
    min-height: 100vh;
}

.slide-image-text {
	display: flex;
	flex-direction: column;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 35%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.slide-image-text h2 {
	font-weight: 500;
	font-size: 34px;
	margin: 10px 0;
}

.slide-image-text h1 {
	font-weight: 800;
	font-size: 52px;
	margin: 0;
}

.slide-image-text p {
	font-family: 'Montserrat', sans-serif;
	width: 550px;
	font-size: 14px;
}

.btn_get_started {
	background: #998675;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 173px;
    padding: 16px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    margin-top: 50px;
    border-bottom: 3px solid #736357;
}


/* ----CONTENT----


--SERVICE-- */

.service {
	display: flex;
	justify-content: space-around;
	align-items: column;
	padding: 80px 0;
}

.service_item {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #555555;
}


.service_item i {
	font-size: 52px;
	color: #555555;
}

.service_item:hover i {
	color: #c7b299;
}


.service_item h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 0;
}

.service_item p {
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
}

.service_item:hover .service_line {
	border-color: #c7b299;
}

.service_line {
	border: 2px solid #f1eee9;
	width: 30%;
}

/* --WAXOM is REALIZATION--*/

.waxom_realization {
	background-color: #fbfaf8;
	padding-top: 80px;
}

.waxom_realization_text {
	text-align: center;
	color: #555555;
}

.waxom_realization_text h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.waxom_realization_text p {
	font-size: 16px;
	line-height: 28px;
	margin-bottom: 40px;
}

/* --WAXOM BOTTOM-- */

.waxom_realization_bottom {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: url(../img/waxom_realization_bottom.png);
	width: 100%;
	height: 150px;
	text-align: center;
}

.waxom_realization_img {
	display: flex;
	height: 482px;
	justify-content: center;
	align-items: center;
	position: relative;
}

.waxom_img_left {
	width: 770px;
	height: 400px;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/slider_2/browser-left.png) center no-repeat;
	z-index: 1;
}

.waxom_img_center {
	width: 770px;
	height: 482px;
	position: absolute;
	background: url(../img/slider_2/browser-center.png) center no-repeat;
	z-index: 2
}

.waxom_img_right {
	width: 770px;
	height: 400px;
	position: absolute;
	right: 0;
	bottom: 0;
	background: url(../img/slider_2/browser-right.png) center no-repeat;
	z-index: 1;
}

.waxom_realization_bottom_bnt {
	font-family: 'Raleway', sans-serif;
	background: #998675;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 173px;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border-bottom: 3px solid #736357;
}

.waxom_realization_bottom h3 span {
	color: #c7b299;
}

.waxom_realization_bottom h3 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	margin-bottom: 10px;
}

.waxom_realization_bottom p {
	margin-top: 10px;
	color: #59504d;
}

/* --Our Latest Projects-- */

.latest_project {
	padding-top: 80px;
}

.latest_project_flex_text {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.latest_project_sorting_btn {
	display: flex;
	margin: 0 10px;
}

.latest_project_sorting_btn button {
	width: 120px;
	height: 32px;
	margin: 0 10px;
	font-size: 14px;
	background: #fff;
	border-color: #ebebeb;
	color: #555555;
	border-radius: 3px;
	border-style: solid;
	cursor: pointer;
	margin-bottom: 40px;
}

.latest_project_sorting_btn button:hover {
	background: #998675;
	border-color: #998675;
	color: #fff;
}

/* --Latest Project Content-- */

.latest_project_content {
	display: flex;
	justify-content: space-around;
}

.latest_project_item {
	margin-bottom: 30px;
}

.latest_project_item:hover .latest_project_arrow {
	background: url(../img/latest_project_content/arrow_hover.png) no-repeat;
	transition: 0.4s;
}

.latest_project_arrow {
	background: url(../img/latest_project_content/arrow.png) no-repeat;
	width: 30px;
	height: 10px;
	position: absolute;
	bottom: 0;
	left: 20px;
}


.latest_project_text {
	padding-left: 25px;
	height: 100px;
}

.latest_project_text h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	color: #c7b299;
	font-size: 20px;
	margin: 0;
	padding-top: 25px;
	padding-bottom: 7px;
}

.latest_project_item:hover .latest_project_text h3 {
	color: #fff;
	transition: 0.4s;
}

.latest_project_text p {
	color: #d1d1d1;
	font-size: 14px;
	margin: 0;
}

.latest_project_item:hover .latest_project_text p {
	color: #c7b299;
	transition: 0.4s;
}

.latest_project_item:hover .latest_project_text {
	background: #362f2d;
	transition: 0.4s;
}

.latest_project_item_background {
	width: 280px;
	height: 235px;
	position: relative;

}

.latest_project_icon a, i {
	color: #fff;
	padding: 0 5px;
	font-size: 14px;
	text-decoration: none;
	transition: 0.4s;
}

.latest_project_icon {
	display: flex;
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	transition: 0.4s;
	background: rgba(0, 0, 0, 0.70);
	opacity: 0;
}

.latest_project_item:hover .latest_project_icon {
	opacity: 1;
}

.latest_project_icon i:hover {
	color: #c7b299;
	font-size: 20px;
	transform: scale(1.05);
}

.latest_project_icon_center {
	margin: auto;
}

.latest_project_load_more {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
}

.latest_project_load_more a {
	font-family: 'Raleway', sans-serif;
	background: #998675;
    color: #fff;
    border-radius: 3px;
    display: block;
    width: 173px;
    padding: 16px 0;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    border-bottom: 3px solid #736357;
}

		/*		

				Excellent for Mobile Devices 

		*/

.excellent_for_mobile_img_iPhone {
	background: url(../img/iPhone_in_hand.png) no-repeat;
	width: 423px;
	height: 616px;
	position: absolute;
	bottom: 0;
	left: 17%;
}

.wrap_excellent {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 695px;
}


.excellent_for_mobile_content {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.excellent_for_mobile_content h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: #555555;
}

.excellent_for_mobile_content p {
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
	line-height: 28px;
}

.excellent_for_mobile_content_marker p {
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
	display: inline-block;
	margin: 10px 0 10px 60px;
	line-height: 18px;
}

.marker {
	position: absolute;
	left: 18px;
}

.excellent_for_mobile_content_marker {
	position: relative;
}

/*

		Statistic

*/

.statistic {
	display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}

.statistic_content {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff;
}

.statistic_content h2 {
	margin-top: 15px;
	margin-bottom: 5px;
	font-weight: 200;
	font-size: 48px;
}

.statistic_content p {
	margin-bottom: 31px;
	color: #c7b299;
	font-size: 14px;
	text-transform: uppercase;
}

.statistic_line {
	border: 1px solid #fff;
	width: 31px;
}

/*

			Partners

*/

.partners {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 489px;
}

.partners img:first-child {
	margin-left: 0;
}

.partners img:last-child {
	margin-right: 0;
}

.partners img {
	margin: 0 40px;
}

/*

			FOOTER

*/

.footer {
	display: flex;
	justify-content: space-around;
}

.footer_item1, .footer_item2, .footer_item3, .footer_item4 {
	width: 275px;
	color: white;
}

/*
	Footer_item1
*/

.footer_item1 {
	color: #555555;
	font-size: 14px;
}

.footer_item1 p {
	margin: 30px 0;
}

.footer_item1 a {
	text-decoration: none;
	color: #d1d1d1;
}

.footer_item1_hover:hover p{
	color: #c7b299;
}

.footer_item1_hover:hover a{
	color: #fff;
}

/*
	Footer_item2
*/

.footer_item2_firtst_p {
	color: #363636;
	font-size: 12px;
}

.footer_item2_second_p {
	color: #555555;
	font-size: 14px;
}

.footer_item_hover:hover .footer_item2_firtst_p{
	color: #fff;
}

.footer_item_hover:hover .footer_item2_second_p{
	color: #c7b299;
}

.footer_item2_firtst_p span {
	color: #00bff3;
}

/*
	Footer_item3
*/

.footer_item3_img {
	width: 130px;
	height: 98px;
	margin: 0 10px 10px 0;
}

.white_line_footer {
	border: 1px solid #252525;
	width: 270px;
}

/*
	Copyright
*/

.copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 111px;
}

.copy {
	display: flex;
	font-size: 13px;
}

.copy ul {
	display: flex;
	list-style: none;
}

.copyright_navigation_item {
	text-decoration: none;
	color: #555;
}

.vertical_line {
	border: 1px solid #252525;
	height: 14px;
	margin: 0 10px;
}

/*

		Recent Posts

*/

.recentPosts_main_text {
	text-align: center;
}

.recentPosts_content {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 40px 0 80px 0;
}

.recentPosts_item {
	display: flex;
	width: 370px;
	height: 395px;
	flex-direction: column;
	margin: 0 15px;
}

.recentPosts_item_backgound {
	width: 370px; 
	height: 220px; 
	position: relative;
}

.recentPosts_greyLine {
	border: 1px solid #f8f8f8;
	border-top: none;
	height: 175px;
	display: flex;
    justify-content: center;
    flex-direction: column;
}

.recentPosts_greyLine h3, p, a{
	margin: 5px 0px 15px 25px;
}

.recentPosts_greyLine h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 20px;
	color: #555;
}

.recentPosts_greyLine p {
	font-weight: 300;
	font-size: 14px;
}

.recentPosts_greyLine a {
	text-decoration: none;
	color: #c7b299;
	font-size: 14px;
	font-weight: 300;
}

.recentPosts_hover {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #fff;
}

.image_wrap {
	width: 370px; 
	height: 220px; 
	background: black;
	opacity: 0;
}

.recentPosts_item:hover .image_wrap {
	opacity: 0.7;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_hover_item1 {
	background-color: #c7b299;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_hover_item2 {
	background-color: #a48d72;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_greyLine {
	background-color: #362f2d;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_greyLine h3 {
	color: #c7b299;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPoss_greyLine p {
	color: #fff;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_greyLine p {
	color: #fff;
	transition: 0.4s;
}

.recentPosts_item:hover .recentPosts_greyLine {
	border: none;
}

.recentPosts_hover_item1 {
	height: 35px;
	width: 50px;
	background-color: #363636;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
}

.recentPosts_hover_item2 {
	width: 50px;
	height: 25px;
	background-color: #252525;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}